@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-hex: #FFFFFF;
  --background-hex: #000000;
  --font-marcellus: 'Marcellus', serif;
  --font-merriweather: 'Merriweather', serif;
  --font-lora: 'Lora', serif;
  --font-chesnaGrotesk: 'Chesna Grotesk', serif;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
  box-sizing: border-box;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}